[2015-03-03 16:22] sarahpearson opened #1 "second review of Portuguese 4.0 translation"

[2015-03-03 16:22] sarahpearson opened #2 "first review of Indonesian 4.0 translation"

[2015-03-03 16:23] sarahpearson opened #3 "compile list of previous translation decisions for CC0"
(similar to what I did for for 4.0)

[2015-03-03 16:24] sarahpearson opened #4 "review of French 4.0 translation"
I'll let you set the milestone. Not sure when you are hoping to have this finished.

[2015-03-04 03:13] #1 closed, assigned to sarahpearson

[2015-03-10 21:21] sarahpearson opened #5 "wiki pages for each translation: how to make them user-friendly?"
@mattl we talked about this briefly in Toronto. I am struggling with how to make these pages user-friendly for translation teams: - https://wiki.creativecommons.org/Legal_Tools_Translation#Translations_in_progress_.28or_completed.29

The pages use a wiki template and are currently populated when the team fills out a wiki form. The problem is it is very difficult for teams to add anything to their

[2015-03-10 21:51] peterspdx opened #6 "re-upload by-nc-sa french"
Looks like by-nc-nd was uploaded to the spot for by-nc-sa on staging (http://cc4-fr-legalcode.legal.creativecommons.org/licenses/by-nc-sa/4.0/legalcode.fr); please check email dated feb 24th and re-upload correct file. thx.

[2015-03-10 21:59] mattl commented on #6
Sarah, let's take a look at this tomorrow.

[2015-03-11 22:02] sarahpearson commented on #6
Just fixed this.

[2015-03-11 22:02] #6 closed, assigned to nobody

[2015-03-12 20:30] peterspdx opened #7 "stage new french 4.0 translation files received 12 Mar; send links on main email thread"
See email from Primavera for new files.  Not sure if these should be assigned to Mattl or Sarah, please advise.

[2015-03-12 20:33] mattl commented on #7
@sarahpearson let me know when these are up on the staging server and I'll take a look too.

[2015-03-12 20:59] peterspdx commented on #7
Thanks!  @sarahpearson I want to go through one of these myself real time so I don't have to assign to you or matt unless time crunched, appreciate you handling these for the time being.

[2015-03-13 03:07] sarahpearson commented on #7
Just added the files. @mattl want to check to make sure I did it correctly when you have the chance?

@peterspdx happy to walk you through it sometime!

Will leave open comment until we can see them up on staging. (going to bed now so I won't know until the morning..)

[2015-03-13 11:28] peterspdx opened #8 "timeline for WMF deliverables"

[2015-03-13 11:50] #7 closed, assigned to nobody

[2015-03-13 15:28] mattl commented on #7
They all look good to me. Turns out I can read French better than I thought.

[2015-03-18 21:30] peterspdx opened #9 "complete comments on french 4.0 licenses sent 13 Mar 2015"

[2015-03-18 23:05] #9 closed, assigned to peterspdx

[2015-03-18 23:05] #4 closed, assigned to peterspdx

[2015-03-18 23:21] peterspdx opened #10 "prepare funding proposal for interested foundation"

[2015-03-25 15:19] sarahpearson opened #11 "put EU translation call notes on the CC wiki"

[2015-03-25 15:45] sarahpearson commented on #2
Received comments back. Need to review and send summary to Diane for her review.

[2015-03-26 01:15] sarahpearson commented on #2
Finished my review and passing baton to @peterspdx for her sign-off before public comment. Shared translation worksheet in google doc.

[2015-03-26 01:16] sarahpearson opened #12 "review of new responses/questions from team about CC0 Japanese translations"

[2015-03-27 17:37] #11 closed, assigned to sarahpearson

[2015-03-27 19:08] peterspdx opened #13 "stage 4.0 French translations received from CC France 27 March 2015"

[2015-03-27 20:21] sarahpearson commented on #13
peterspdx: Can you forward the relevant files to me via email? Thanks.

[2015-03-29 02:19] #13 closed, assigned to nobody

[2015-04-06 20:27] peterspdx commented on #2
Ok to move forward.

[2015-04-06 20:27] #2 closed, assigned to peterspdx

[2015-04-06 23:26] peterspdx commented on #12
Not sure which email, but sent response to only open issues I could find on 6 Apr 2015.  Let me know if there's another thread I've missed.  Seems we're still waiting on the transfix issue to be fixed in tandem.

[2015-04-09 14:29] peterspdx commented on #12
matt fixed Transifex problem on 8 April; Diane sent link to Japanese team for review.

[2015-04-09 14:30] peterspdx opened #14 "Final proofing of 4.0 French translations"
Sent to entire French translation team on 9 April 2015 for feedback by 15 April 2015; CC France team and HQ to do final review in tandem by same date, then to sarahpearson for final checklist.

[2015-04-14 20:10] #12 closed, assigned to sarahpearson

[2015-04-14 20:10] #3 closed, assigned to sarahpearson

[2015-04-14 20:12] sarahpearson commented on #3
@peterspdx FYI, I added these to the existing google doc for 4.0 decisions here:

https://docs.google.com/document/d/18PB03BOJcBDZnZlHbn5oU2ZhOJkPMGjBP4Vb7qKFX8U/edit

[2015-04-16 19:17] sarahpearson commented on #5
@robmyers do you think you might have time to help me with this? We can discuss during our call next week, or ping me if you have time to look at it before that and I can explain the issue.

[2015-04-16 20:23] rheaplex commented on #5
@sarahpearson sure! I'll be able to take a look before the call.

[2015-04-17 00:14] rheaplex commented on #5
@sarahpearson is the problem that the form doesn't have the fields, that there needs to be a more granular history than the current fields can handle, or the interface is a bit unfriendly? We can address each of those in different ways.

[2015-04-17 00:40] mattl commented on #5
Also we're moving the wiki and I'd like to avoid this hokey form system.

If we need a form, let's make one that does what it needs to, but maybe not
for MediaWiki
On Apr 16, 2015 8:14 PM, "Rob Myers" notifications@github.com wrote:

[2015-04-17 01:10] sarahpearson commented on #5
@robmyers The problem is less about the form, and more about how people update the page that the form pre-populates later on in the process. For example, here is a page that got created when the translation team first created a form: https://wiki.creativecommons.org/Legal_Tools_Translation/4.0/Maori

The team now has a lot of the information to add to this page, but it's not at all intuitive how t

[2015-04-17 17:45] rheaplex commented on #5
@sarahpearson They can edit the page source and it should be fine. If they're changing the content of the template (anything between the {}s ) they can double check with the preview button before saving. They can't add extra fields to the template block (those are determined by the form), but they can modify existing values and supply missing ones. Other data can go below the template and will be

[2015-04-17 17:46] rheaplex commented on #5
@mattl I quite like Wiki forms. But if there's something more robust we can use that answers this use case better we should definitely use it.

[2015-04-17 20:59] sarahpearson opened #15 "confirm html validates - Japanese CC0 translation"
Linked here: http://cc0-jp-legalcode.legal.creativecommons.org/publicdomain/zero/1.0/legalcode.jp

File is in the CC0-jp branch of the creativecommons.org github repository.

Let me know if you need anything else to do this @robmyers! Thanks much!

[2015-04-17 22:00] rheaplex commented on #15
There's some trivial errors. Shall I fix and commit or report?

[2015-04-17 22:01] sarahpearson commented on #15
Fixing it would be perfect. Thank you!

[2015-04-17 22:39] rheaplex commented on #15
Fixed it but forgot to mention this ticket in the commit.

Code now validates.

[2015-04-20 20:22] rheaplex commented on #15
@sarahpearson Do I need to merge this in anywhere?

[2015-04-20 21:39] sarahpearson commented on #15
no not yet. I need to do a couple more things and then will send a pull request tomorrow. thanks so much!

[2015-04-20 21:39] #15 closed, assigned to nobody

[2015-04-21 14:58] peterspdx opened #16 "Establish work plan for Standard Chinese translation of 4.0"
Work with Tyng-Ruey and Chunyan, plus SooHyun, to create a work plan to progress a unified translation of the 4.0 licenses into this language.

[2015-04-21 14:59] peterspdx opened #17 "Establish work plan for finalizing Arabic translation of 4.0"
Work with Naeema and Jess to create roadmap for resolving differences between translated drafts.

[2015-04-29 13:48] sarahpearson opened #18 "new draft of CC0 from CC Taiwan is not showing up on testing server"
@mattl or @robmyers can you help me figure out what I did wrong? I posted in 7 days ago in the CC0-zhtw branch, but the link on the testing server still shows the old one: http://testing3.creativecommons.org/publicdomain/zero/1.0/legalcode.tw

[2015-04-29 13:48] sarahpearson opened #19 "review 4.0 Japanese translation draft"

[2015-04-29 14:38] peterspdx commented on #5
I don't see how this was resolved.  What's the outcome that makes it easier for affiliates and better for us?  Thanks in advance for summarizing.

[2015-04-29 21:01] sarahpearson commented on #5
On the call last week about translations, Rob explained to me how the pages can be updated. (Basically, just putting the text after the equal sign for the relevant field. It's more simple than I realized.) So my question was answered, which was why I closed the issue. I do think we are going to run into a new problem once the wiki is moved over though. Was thinking that would be a new issue, but I

[2015-04-29 21:31] peterspdx commented on #5
I thought the call was moved off?  Is there going to be one where we go through tech work for legal, or was that different?

Fine to close this one out if you want it closed and off your plate, and to start a new issue once the wiki is moved in the next week or so.

Diane

[2015-05-01 22:00] sarahpearson commented on #5
Yes, the call about translations/tech needs to be rescheduled, but we still ended up chatting a bit because we didn't realize you couldn't make it.

I'll close the issue for now, and we can regroup as necessary once the wiki moves.

[2015-05-01 22:00] #5 closed, assigned to nobody

[2015-05-01 22:01] sarahpearson opened #20 "review changes to Swedish 4.0 & discuss with Diane"

[2015-05-02 01:19] peterspdx commented on #5
Ah,didn't know there was chatter, but happy that it occurred.  Just saw the
reschedule.

Diane

On Fri, May 1, 2015 at 3:00 PM, Sarah Pearson notifications@github.com
wrote:

##

Diane M. Peters
General Counsel, Creative Commons
Portland, Oregon
http://creativecommons.org/staff#dianepeters

[2015-05-05 14:13] sarahpearson commented on #19
Sent comments to team. Scheduled to discuss translation with @peterspdx on Friday (May 8) during weekly translation call.

[2015-05-05 14:34] peterspdx commented on #19
sarahpearson, you stated in the email to the Japanese team that you had a question you wanted to discuss with me.  can you give me a head's up on what the question is?

[2015-05-06 19:10] peterspdx commented on #17
Completed, and funding proposal submitted.

[2015-05-06 19:10] #17 closed, assigned to peterspdx

[2015-05-06 19:11] peterspdx commented on #16
Initial call with SooHyun, Tyng-Ruey and Chunyan; agreement in principle; funding request submitted.

[2015-05-06 19:11] #16 closed, assigned to peterspdx

[2015-05-06 19:12] peterspdx commented on #14
Received material comments from CC Canada, and comments from CC Lux and CC Switzerland; awaiting translation team responses and any updates to html; CC HQ final proof to be conducted after new files staged.

[2015-05-06 19:13] peterspdx commented on #10
completed.

[2015-05-06 19:13] #10 closed, assigned to peterspdx

[2015-05-06 19:14] peterspdx commented on #8
Completed.  These will mostly be ad hoc updates as we progress on the translations that have been funded.

[2015-05-06 19:14] #8 closed, assigned to peterspdx

[2015-05-13 16:10] #20 closed, assigned to sarahpearson

[2015-05-13 16:10] #19 closed, assigned to sarahpearson

[2015-05-13 17:33] #18 closed, assigned to nobody

[2015-06-19 14:11] peterspdx opened #21 "Staging of 6 Japanese translations"
Sent on June 18 by Maki, please stage and notify team of next steps.

[2015-06-19 18:16] #21 closed, assigned to nobody

[2015-06-22 19:19] sarahpearson opened #22 "confirm html validates on Ukrainian 4.0 translations"
Do you have time to check this and fix any mistakes by tomorrow? We were hoping to publish tomorrow, but we can push back as needed.

The six files are here on Github: https://github.com/creativecommons/creativecommons.org/tree/cc4-uk-legalcode/docroot/legalcode

Or here online:
http://cc4-uk-legalcode.legal.creativecommons.org/licenses/by-sa/4.0/legalcode.uk
http://cc4-uk-legalcode.legal.creative

[2015-06-22 19:23] sarahpearson opened #23 "final review & sign-off of Ukrainian 4.0 licenses"
Please let me know if you find any errors, and if not, please close this issue so we know you have signed off. Thanks!

http://cc4-uk-legalcode.legal.creativecommons.org/licenses/by-sa/4.0/legalcode.uk
http://cc4-uk-legalcode.legal.creativecommons.org/licenses/by-nd/4.0/legalcode.uk
http://cc4-uk-legalcode.legal.creativecommons.org/licenses/by/4.0/legalcode.uk
http://cc4-uk-legalcode.legal.creativ

[2015-06-22 19:40] peterspdx commented on #23
You'll see on my calendar I had booked time this AM, which I used.  On the
last few next.  Then yes, I'll sign off.

On Mon, Jun 22, 2015 at 12:23 PM, Sarah Pearson notifications@github.com
wrote:

##

Diane M. Peters
General Counsel, Creative Commons
Portland, Oregon
http://creativecommons.org/staff#dianepeters

[2015-06-22 19:45] peterspdx commented on #22
Posting here as well, that I made it through 3 of the 6 licenses this morning during time I had blocked for this, but need another hour or thereabouts for the other three.  I should be prepared to sign off later today, and will make the note on the relevant issue(s).

Diane

[2015-06-22 22:58] rheaplex commented on #22
I ran the files through the htm5lint checker. Each file had the following
warning:

[code]

the nearest container instead.

There was an unclosed <div> in by-nd_4.0_uk.html, I closed it and committed
the change as 95cd0c4 .

Other than that, the html is good.

On Mon, Jun 22, 2015 at 12:45 PM, Diane Peters notifications@github.com
wrote:

[2015-06-23 00:05] #22 closed, assigned to nobody

[2015-06-23 00:40] peterspdx commented on #22
awesome.  Thanks!

On Mon, Jun 22, 2015 at 3:58 PM, Rob Myers notifications@github.com wrote:

##

Diane M. Peters
General Counsel, Creative Commons
Portland, Oregon
http://creativecommons.org/staff#dianepeters

[2015-06-23 11:57] peterspdx commented on #23
Provided one comment on the email list about license titles not matching between deed and legal code.  Otherwise, this has my sign off.

[2015-06-23 14:04] sarahpearson commented on #23
I'm not seeing your comment on the email list. Was I copied? Sorry if I was and missed it.

[2015-06-23 14:45] #23 closed, assigned to peterspdx

[2015-07-08 18:36] peterspdx opened #24 "stage French 4.0 translations received 8 July 2015"

[2015-07-08 21:22] #24 closed, assigned to nobody

[2015-07-09 20:24] sarahpearson opened #25 "please confirm html validates on Japanese 4.0 translations"
http://cc4-ja-legalcode.legal.creativecommons.org/licenses/by-nc-sa/4.0/legalcode.ja
http://cc4-ja-legalcode.legal.creativecommons.org/licenses/by-nc/4.0/legalcode.ja
http://cc4-ja-legalcode.legal.creativecommons.org/licenses/by/4.0/legalcode.ja
http://cc4-ja-legalcode.legal.creativecommons.org/licenses/by-nd/4.0/legalcode.ja
http://cc4-ja-legalcode.legal.creativecommons.org/licenses/by-nc-nd/4.0/

[2015-07-09 20:52] sarahpearson opened #26 "please confirm html validates on Maori 4.0 translation files"
http://cc4-mi-legalcode.legal.creativecommons.org/licenses/by-nc-nd/4.0/legalcode.mi
http://cc4-mi-legalcode.legal.creativecommons.org/licenses/by-nc/4.0/legalcode.mi
http://cc4-mi-legalcode.legal.creativecommons.org/licenses/by-nd/4.0/legalcode.mi
http://cc4-mi-legalcode.legal.creativecommons.org/licenses/by/4.0/legalcode.mi
http://cc4-mi-legalcode.legal.creativecommons.org/licenses/by-sa/4.0/leg

[2015-07-10 18:15] rheaplex commented on #26
In the following files:

by-sa_4.0_mi.html

by-nc-nd_4.0_mi.html

by-nc-sa_4.0_mi.html

The line

[code]

was causing validation errors. I removed it from these files and committed this change to the branch in 3e5d9afaa9 .

[2015-07-10 18:15] #26 closed, assigned to nobody

[2015-07-10 18:17] rheaplex commented on #25
These validate with no reported issues.

[2015-07-10 18:17] #25 closed, assigned to nobody

[2015-07-20 17:04] sarahpearson opened #27 "please confirm html validates on Bahasa 4.0 translation files"
http://cc4-id-legalcode.legal.creativecommons.org/licenses/by-nc-sa/4.0/legalcode.id
http://cc4-id-legalcode.legal.creativecommons.org/licenses/by-sa/4.0/legalcode.id
http://cc4-id-legalcode.legal.creativecommons.org/licenses/by-nc/4.0/legalcode.id
http://cc4-id-legalcode.legal.creativecommons.org/licenses/by/4.0/legalcode.id
http://cc4-id-legalcode.legal.creativecommons.org/licenses/by-nc-nd/4.0/

[2015-07-21 23:25] rheaplex commented on #27
There are some extra </ol> tags and some out-of-position <p> tags. I'm not
going to try and correct those as I don't want to accidentally change the
flow/meaning of the text. Here's the relevant part of the report -

"by-nc-nd_4.0_id.html":104.1-104.3: error: Element “p” not allowed as child
of element “ol” in this context.

"by-nc-nd_4.0_id.html":111.1-111.5: error: No “li” element in scope but a

[2015-07-23 02:26] sarahpearson commented on #27
Thanks, Rob! I sent these comments to the team and then sent corrected files. Just now posted. Can you please take a look tomorrow to confirm that the changes were made correctly?

[2015-07-27 21:14] sarahpearson commented on #27
Hey @robmyers, do you mind quickly confirming that they corrected everything? The new files are posted, and this is the last step before we push live. Thanks!

[2015-07-27 22:29] rheaplex commented on #27
After thoroughly checking the layout of the files I removed two extra <li> tags:

"docroot/legalcode/by_4.0_id.html":111.1-111.5: error: No “li” element in scope but a “li” end tag seen.
"/docroot/legalcode/by-nc_4.0_id.html":112.1-112.5: error: No “li” element in scope but a “li” end tag seen.

and pushed to the cc4-id-legalcode branch:

https://github.com/creativecommons/creativecommons.org/comm

[2015-07-27 22:29] #27 closed, assigned to nobody

[2015-09-09 13:13] peterspdx opened #28 "Fix link to FAQ at bottom of English 4.0 translations"
Should go to the particular FAQ, not the FAQ page generally. Please also check all of the other translations and fix where needed.

[2015-09-09 13:58] mattl commented on #28
What is the particular FAQ?

[2015-09-09 14:55] peterspdx commented on #28
https://wiki.creativecommons.org/wiki/Frequently_Asked_Questions#What_are_the_official_translations_of_the_CC_licenses_and_CC0.3F

[2015-09-09 14:58] mattl commented on #28
![screenshot from 2015-09-09 09-56-30](https://cloud.githubusercontent.com/assets/33296/9765299/303f0f6a-56d9-11e5-9c9a-990e502b61f5.png)

Is this the link you're referring to?

[2015-09-09 21:43] peterspdx commented on #28
Yes. The hyperlink for FAQ. Thx.

[2015-09-09 21:44] mattl commented on #28
It seems to take me to the correct place in the FAQ. Can you double check with a fresh browser?

[2015-09-15 10:40] peterspdx commented on #28
In Chrome, yes it brings me to the correct, specific FAQ. But in Safari, I still land at the top of the FAQ page. Why the difference?

[2015-09-15 14:52] mattl commented on #28
Not sure, possibly a Safari bug, or a bug with your particular set up. Either way, I don't think it's a bug we can fix.

[2015-09-15 14:52] #28 closed, assigned to nobody

[2015-09-16 15:56] sarahpearson opened #29 "please confirm html validation for Polish CC0"
http://cc0-pl-legalcode.legal.creativecommons.org/publicdomain/zero/1.0/legalcode.pl

Thanks!

[2015-09-16 19:11] rheaplex commented on #29
Looks good apart from at the bottom, where

[code]

should probably be

[code]

Notice the extra `./"` after `deed.pl"`

[2015-09-16 20:25] sarahpearson commented on #29
Thanks @robmyers! Can you check to make sure I've fixed it correctly? (in about 10 minutes when the change shows up on the staging server)

[2015-09-18 17:08] sarahpearson commented on #29
@robmyers Once you've confirmed I fixed it, can you close this issue so I know to make the pull request to push the legal code live? Thanks!

[2015-09-18 17:47] rheaplex commented on #29
Eek I'm sorry for missing your earlier comment. Do please ping me on irc if it looks like I've missed something time sensitive.

I've checked the new version and it's fixed. Good to go.

[2015-09-18 17:47] #29 closed, assigned to nobody

[2015-11-24 14:49] sarahpearson opened #30 "please check html validation of Italian CC0 translation"
Here is the link: http://cc0-it-legalcode.legal.creativecommons.org/publicdomain/zero/1.0/legalcode.it

Original file here: https://github.com/creativecommons/creativecommons.org/blob/cc0-it-legalcode/docroot/legalcode/zero_1.0_it.html

@robmyers we are planning to launch next week, so if you could get this checked (and any necessary fixes made) by monday 11/30, that would be great. Thank you!

[2015-12-08 16:25] peterspdx commented on #14
This is a dated issue, we've done several proofing since. Closing out.

[2015-12-08 16:25] #14 closed, assigned to peterspdx

[2015-12-21 20:30] sarahpearson commented on #30
This has gone through several more iterations. Do you mind checking the html one last time just to make sure no mistakes got added in these last few rounds of edits? Thank you, @robmyers!

[2015-12-21 20:34] rheaplex commented on #30
Yes that validates OK . It's good to go.

[2015-12-21 20:34] #30 closed, assigned to nobody

[2015-12-21 20:40] sarahpearson opened #31 "please check html validation of Italian 4.0 licenses"
Here are the URLs on staging:
http://cc4-it-legalcode.legal.creativecommons.org/licenses/by-nc-sa/4.0/legalcode.it
http://cc4-it-legalcode.legal.creativecommons.org/licenses/by-sa/4.0/legalcode.it
http://cc4-it-legalcode.legal.creativecommons.org/licenses/by-nc/4.0/legalcode.it
http://cc4-it-legalcode.legal.creativecommons.org/licenses/by/4.0/legalcode.it
http://cc4-it-legalcode.legal.creativecomm

[2015-12-21 21:19] rheaplex commented on #31
They are all good. Let me know if/when this and the it cc0 need deploying.

[2015-12-21 21:19] #31 closed, assigned to nobody

[2016-02-09 17:30] sarahpearson opened #32 "updated file not showing up on testing server"
Yesterday I posted an updated file here for the Swedish CC0 translation: https://github.com/creativecommons/creativecommons.org/blob/cc0-sv-legalcode/docroot/legalcode/zero_1.0_sv.html

But even today, it still doesn't seem to be showing up on the server here: http://cc0-sv-legalcode.legal.creativecommons.org/publicdomain/zero/1.0/legalcode.sv

@mattl or @robmyers Can you help me figure out if I d

[2016-02-09 17:34] mattl commented on #32
It loads here for me... but bear in mind that server updates fairly frequently, so sometimes it won't work for a few minutes.

[2016-02-09 17:43] sarahpearson commented on #32
It loads for me, too. But it doesn't appear to be the updated version loaded on Github. (You can tell because "Back to Commons Deed" at the bottom is still in English, at least on my browsers.) Is that phrase translated when you look at it?

[2016-02-09 18:08] mattl commented on #32
Aha. I see.

I'll take a look.

[2016-02-09 22:35] mattl commented on #32
Okay, it's updating again now. There are a few stray tags in there that are appearing. Fix those and let me know if you don't see them updated an hour after checking things in (server updates every 30 mins)

[2016-02-09 22:35] #32 closed, assigned to nobody

[2016-02-10 20:38] sarahpearson opened #33 "check Swedish CC0 translation for html validation"
@robmyers Can you please check the html of this translation? Would be great to have it done by early next week so we are ready to push it live when we get final sign-offs.

http://cc0-sv-legalcode.legal.creativecommons.org/publicdomain/zero/1.0/legalcode.sv

If changes are needed, the file lives here:

https://github.com/creativecommons/creativecommons.org/blob/cc0-sv-legalcode/docroot/legalcode/z

[2016-02-23 16:10] sarahpearson commented on #33
Hi, @robmyers, when you check this, can you help me figure out how to get rid of the > at the end below Section 4? I thought I got it, but it's still there. :(

Also, we were having some trouble with the server so there was a delay, but I think this one is now mostly ready to go pending your sign-off and Diane's. Thanks.

[2016-02-23 16:13] peterspdx commented on #33
Great, and yes. I will do this today so we can check this one off the list!

Diane

Diane M. Peters
General Counsel, Creative Commons
Portland, Oregon
http://creativecommons.org/staff#dianepeters
13:00-21:00 UTC

On Tue, Feb 23, 2016 at 8:10 AM, Sarah Pearson notifications@github.com
wrote:

[2016-02-23 19:09] rheaplex commented on #33
Hi @sarahpearson . The html validates fine apart from an extra < (rather than > ) in section 4. I can correct that and push the change to the repo if you like?

[2016-02-23 19:11] sarahpearson commented on #33
That would be great, thanks @robmyers!

[2016-02-23 19:12] peterspdx commented on #33
Yup, I just noticed that, if it's the thingy at the end of the document. I
say, go ahead and fix, but will defer to Sarah who has been the leader on
this translation.

Diane M. Peters
General Counsel, Creative Commons
Portland, Oregon
http://creativecommons.org/staff#dianepeters
13:00-21:00 UTC

On Tue, Feb 23, 2016 at 11:09 AM, Rob Myers notifications@github.com
wrote:

[2016-02-23 21:05] rheaplex commented on #33
I have made that change and pushed to -

https://github.com/creativecommons/creativecommons.org/commit/d1fd559d6450a97928df5313f490e7090a386e19

There are no remaining validation errors.

[2016-02-23 23:11] sarahpearson commented on #33
Awesome, thank you!

[2016-02-23 23:11] #33 closed, assigned to nobody

[2016-03-01 16:05] RCEurope1 opened #34 "CZ: translation of "NoDerivs" should be different in 3.0 and 4.0 deeds"
The team around Matěj Myška changed the translation of the license title element ND slightly for 4.0 (to accomodate for databases being covered even if not database works) and the new translation string shows on all deeds, also on the 3.0 ones. They would like to have the old one back for the 3.0 deeds, which, I assume, is only possible if there can be several different strings for different deeds

[2016-03-01 18:30] RCEurope1 commented on #34
Relevant strings seem to be 152, 154, 155, 160, 161 (maybe also 167, 197, 198, 503)

[2016-03-02 23:17] sarahpearson commented on #34
The deeds are actually designed to be the same for all versions, so I don't think it is possible to have different translations for different versions.

[2016-03-03 13:22] peterspdx commented on #34
As I understood it from our conversation yesterday in the hall, when I raised this same point it was not about having different versions of the deeds for different versions of the licenses, but strings in Transfix split between 4.0 (current) and 3.0 and prior, including ports. But I could have misunderstood.

[2016-03-05 15:56] RCEurope1 commented on #34
I think you are describing the same thing: It would be about Transifex having different strings (at least for the license title bits) for 4.0, 3.0, 2.5, 2.0 and 1.0. Sarah says that the design doesn't allow that. I wonder, however, whether that could change, because the Deeds do show the different version numbers in the title, so why not also differing translations?

[2016-03-07 20:28] sarahpearson commented on #34
There was a design decision made during 4.0 that we would have a single version of the deeds that would cover all versions, even though there are nuanced differences in the licenses. I think it would be strange and confusing to make that decision for the English and then allow differences in how they are translated.

@peterspdx I think you're right that we were talking about separating the version

[2016-03-07 21:56] peterspdx commented on #34
Fyi, the design decision was made long ago that there would ever only be one version of the deeds. With 4.0, we were simply following a policy decision made by GOB or Mike L or someone, though we didn't do it blindly.

Sorry to drill on this, but @RCEurope1, are you talking about having different DEEDS, or different translation strings that don't result in different deeds? I'm not confused, becaus

[2016-03-09 15:45] RCEurope1 commented on #34
I'm a bit confused here. This is not about the layout, look and feel of the Deeds, but about the license title shown. For example:

The Deed of 3.0 BY-SA Unported in German has the URL http://creativecommons.org/licenses/by-sa/3.0/deed.de and the title reads
"Namensnennung - Weitergabe unter gleichen Bedingungen 3.0 Unported"

The Deed of 4.0 BY-SA International in German has the URL http://creati

[2016-03-24 14:34] peterspdx commented on #34
I'd like to discuss this with the tech team (mattl and robmyers) during our legal-tech checkin call next Thursday. Added to agenda. We'll close it out then, and if we have other questions will talk first with RCEurope1

[2016-04-08 18:55] sarahpearson commented on #34
Okay, we huddled, and here is where we came out for now:
(1) the title strings are change-able, as you noted since they currently say "International" or "Unported" or "Generic" based upon which version you are viewing. Those can be made to match the title of the relevant legal code.
(2) currently the strings for the substance of the deeds are not change-able based on what version you are viewing.

[2016-04-08 18:59] sarahpearson opened #35 "reconsider policy decision about universal deeds"
CC has had a longstanding policy of having the text of the deeds the same for all versions of the licenses. Based on community input, there may be a need to revisit this decision.

This is a placeholder issue for now, which we will return to once more pressing deed-related issues are dealt with.

[2016-04-13 18:58] RCEurope1 commented on #34
ok thx, will let CC CZ know and ask them to make a suggestion based on this outcome ...

[2016-04-25 15:43] soohyunpae opened #36 "Japanese 4.0 Deed page needs update"
Hi Matt!

I got the message below from CC Japan. It seems they made some change to the Japanese 4.0 deed on transifex and wanted to get it published. Could you take a look and help? Thanks!!!

Best,
Soohyun

[2016-04-27 18:00] mattl commented on #36
@robmyers Can you run the update-i18n script on the site? It's in the crontab (but commented out)

[2016-04-28 17:28] mattl commented on #36
@soohyunpae This has been done.

[2016-04-28 17:28] #36 closed, assigned to nobody

[2016-06-13 05:51] soohyunpae opened #37 "Link to the license translation proposal form seems broken"
Hi Rob,

Can you please have look at the link below? It seems the link to the translation proposal form on the wiki is not working.
https://wiki.creativecommons.org/index.php?title=Form:4.0_Translation&action=edit&redlink=1

Thanks!

[2016-06-14 16:54] rheaplex commented on #37
Thank you for reporting this.

The CC0 Translation form is also missing:

https://wiki.creativecommons.org/index.php?title=Form:CC0_Translation

I cannot find anything in the logs (in particular, I don't think I accidentally deleted these pages during the cleanup last year).

@mattl is this an SMW removal issue?

[2016-06-14 16:56] mattl commented on #37
@robmyers Yes, this is SMW.

[2016-06-14 16:58] rheaplex commented on #37
@mattl is there a substitute in MediaWiki we can use, would Civi or GForms be a good replacement, or should we just ask people to "Please email <insert address here> with the following details..."?

[2016-06-14 17:07] mattl commented on #37
I'm not clear what the form was -- if it was just a "Hey, you should do Spanish next" kinda thing, then it could just be an "email us" piece of text. For anything more structured, it could just be a Google Form, or a Civi Profile. Civi Profile if any personal information.

[2016-06-14 17:18] rheaplex commented on #37
It seems to be a multi-page form, so I cannot recover it from the Internet Archive:

https://web.archive.org/web/20150502224343/https://wiki.creativecommons.org/Form:4.0_Translation

@peterspdx What would your preferred replacement for these forms be? What information is needed to start the translation process?

[2016-06-14 17:18] rheaplex commented on #37
@soohyunpae I'd contact Diane with any translation requests while we're working on sorting this out.

[2016-06-15 08:37] soohyunpae commented on #37
@robmyers Great, Thanks!

[2016-06-17 14:00] peterspdx commented on #37
There's certainly a preferred form or method for starting a translation and notifying CC of someone's intention to do so. It consists of basic information about the team, timeline, language, the plan for accomplishing the translation, etc. Basic info is always good, and to have it populate a page that is publicly viewable is the idea.

I'm not aware of new translations being proposed, but agree th

[2016-07-23 03:56] peterspdx opened #38 "Upload Polish 4.0 BY-NC-SA translation to staging server; notify legal@"
http://labs.creativecommons.org/~mattl/foo.html

[2016-07-25 16:49] mattl commented on #38
http://cc4-pl-legalcode.legal.creativecommons.org/licenses/by-nc-nd/4.0/legalcode.pl

[2016-07-25 17:03] #38 closed, assigned to nobody

[2016-07-27 13:44] peterspdx opened #39 "Post updated HTML for Polish translation"
Or, let Natalia know if there are problems with the file format. See email thread for file. Notify legal@ or the people on the email thread if posted successfully.

[2016-07-27 16:54] mattl commented on #39
All formatting removed by their computer. Asked them to reedit using a dedicated text editor.

[2016-07-27 16:54] #39 closed, assigned to nobody

[2016-08-02 13:54] peterspdx opened #40 "Upload new 4.0 Polish text to staging server"
@mattl see email.

[2016-08-03 19:03] mattl commented on #40
Looks good -- http://labs.creativecommons.org/~mattl/foo2.html

[2016-08-03 19:04] mattl commented on #40
This is BY 4.0?

[2016-08-03 19:26] peterspdx commented on #40
Apparently. Is it on staging now? If so, I'll have her proof.

[2016-08-03 19:27] mattl commented on #40
Is there anything wrong with the URL above? Until we have a final version, it's much easier to upload to labs.

[2016-08-03 19:56] peterspdx commented on #40
Ok, sending it to Natalia now. Thanks.

[2016-08-03 20:41] #40 closed, assigned to nobody

[2016-08-10 12:16] peterspdx opened #41 "Upload newest version of Polish 4.0 BY translation"
See email from Natalia

[2016-08-31 15:33] peterspdx commented on #41
http://rob.tech.creativecommons.uk0.bigv.io/cc4_0_polishversion_htmlfinal/

[2016-08-31 15:33] #41 closed, assigned to nobody

[2016-08-31 15:35] peterspdx opened #42 "Stage Arabic licenses for proofing"
See: https://www.dropbox.com/s/pcueh9h1no2qmwy/Arabic%20HTML.rar?dl=0

[2016-08-31 20:04] sarahpearson commented on #42
Staged, but formatting is off. @robmyers can you help us discern what is wrong and/or missing in the HTML?

Links here:

http://cc4-ar-legalcode.legal.creativecommons.org/licenses/by-nc-sa/4.0/legalcode.ar
http://cc4-ar-legalcode.legal.creativecommons.org/licenses/by-nc/4.0/legalcode.ar
http://cc4-ar-legalcode.legal.creativecommons.org/licenses/by/4.0/legalcode.ar
http://cc4-ar-legalcode.legal.cre

[2016-08-31 21:25] rheaplex commented on #42
It looks like they have the wrong &lt;head&gt; code . We should replace it (except for the &lt;title&gt;) with something more like the &lt;head&gt; of:

http://cc4-no-legalcode.legal.creativecommons.org/licenses/by-nc-sa/4.0/legalcode.no

The footer looks OK so probably doesn't need changing for this.

[2016-09-01 18:43] sarahpearson commented on #42
Attempted to fix header on by-nc-nd, and now nothing is on page. Fail.

http://cc4-ar-legalcode.legal.creativecommons.org/licenses/by-nc-nd/4.0/legalcode.ar

Can you tell what I did wrong @robmyers?

[2016-09-01 19:04] rheaplex commented on #42
Three things are going on in this file.

 Firstly, it looks like the character encoding is out of sync.

Rather than specifying:

[code]

the &lt;head&gt; should specify:

[code]

and ensure that the file is saved as utf-8 (specifying the meta charset may be enough to give Aquamacs the needed hint). The characters that don't look right are a result of unicode not being encoded properly by the soft

[2016-09-02 19:41] sarahpearson commented on #42
Definitely agree this is a really hard thing to do via Github! I'm going to try asking the team if someone knows how to fix it on their end. If not, you and I can go through it during our checkin next Tuesday.

[2016-09-02 20:41] rheaplex commented on #42
OK cool. Yes this does sound like a good candidate for our checkin.

[2016-11-01 13:11] peterspdx commented on #42
Any progress on this @robmyers @sarahpearson? If one of you could get back to the team on the main list that would be good. Mohammad is standing by to conduct the final proof. Thanks!

[2016-11-01 16:43] sarahpearson commented on #42
Rob and I have a call later this afternoon, and we'll discuss. I know he fixed the numbering, so the only thing left was integrating Hani's latest changes. One of us will update the thread shortly.

[2016-11-02 18:13] #42 closed, assigned to nobody

[2016-11-03 05:43] soohyunpae opened #43 "4.0 Chinese deeds translation ready to be published"
@robmyers Chinese deeds translation has been completed and is now ready to be published:
https://www.transifex.com/nkinkade/CC/dashboard/
https://creativecommons.org/licenses/by/4.0/deed.zh

Let me know if there's anything you need from me or from the Chinese translation team.

Thanks a lot!

Soohyun

[2016-11-03 06:05] rheaplex commented on #43
Awesome!

@sarahpearson @peterspdx - Am I clear to add this?

[2016-11-03 14:36] sarahpearson commented on #43
yes, @robmyers! thanks!

[2016-11-03 15:19] peterspdx commented on #43
can you please confirm first, however, the URL for both the traditional and the simplified? IIRC, they are zh-CN for Simplified and zh-TW for Traditional. There are two, each of which has its own legal code translation also (same codes will be used for the legal code links when finalized). @robmyers @sarahpearson

[2016-11-04 18:45] rheaplex commented on #43
@peterspdx There's some strangeness. :-(

The urls for the deeds are zh and zh_TW, e.g.:

https://creativecommons.org/licenses/by-sa/3.0/deed.zh

https://creativecommons.org/licenses/by-sa/3.0/deed.zh_TW

The urls for the respective legalcodes are cn and tw , e.g.:

https://creativecommons.org/licenses/by-sa/3.0/legalcode.cn

https://creativecommons.org/licenses/by-sa/3.0/legalcode.tw

Neither see

[2016-11-10 20:54] peterspdx commented on #43
@soohyunpae,  just letting you know that this hasn't dropped. Rob is figuring this out. He is out all this week. We'll see him next week in Berlin. Let's find time to discuss there and resolve this and -- maybe even? -- try to launch the legal code.

[2016-11-10 20:55] peterspdx commented on #43
@sarahpearson @robmyers Let's in the meantime hold this from going live while we sort it out next week.

[2016-11-11 05:22] soohyunpae commented on #43
@peterspdx Thanks for the heads-up. Looking forward to resolving this, discussing next steps for the launch of the legal code, and most importantly seeing you all @robmyers @sarahpearson in Berlin. :)

[2016-12-08 17:35] peterspdx opened #44 "Index all links to staged IGO 3.0 port translations"

[2016-12-08 17:59] peterspdx commented on #35
Is this still an active concern?

[2017-10-25 14:41] #35 closed, assigned to nobody

[2017-12-04 15:03] peterspdx opened #45 "Approve new branch for Chinese language translation of 4.0 - cannot move forward without this"
History:

Chunyan sent 6 word files
George converted by-nc-sa and staged
URL changed
Team unable to get access to proof due to 404 error
Outstanding need to get this fixed, because until they looked at that one on the staging server, we didn't want them to make the other 5 licenses.

https://cc4-zh-hans-legalcode.legal.creativecommons.org/licenses/by-nc-sa/4.0/legalcode.zh-Hans and the problem is

[2017-12-04 15:05] peterspdx opened #46 "Check URL for CC0 traditional chinese translation"
Should be: https://cc0-zh-hant-legalcode.legal.creativecommons.org/publicdomain/zero/1.0/legalcode.zh-Hant

Currently at: https://cc0-cn-legalcode.legal.creativecommons.org/publicdomain/zero/1.0/legalcode.cn

Would like to avoid another redirect.

[2021-04-08 21:35] #46 closed, assigned to nobody

[2021-04-08 21:36] #37 closed, assigned to nobody

[2021-04-08 21:36] #34 closed, assigned to nobody

[2021-04-08 21:36] #45 closed, assigned to nobody

[2021-04-08 21:37] #44 closed, assigned to peterspdx

[2021-04-08 21:37] #43 closed, assigned to nobody